@tailwind base;
@tailwind components;
@tailwind utilities;


:root, body {
  background-color: #121212;
  font-family: monospace;
}
body {
  font-family: -apple-system, monospace, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
input#outlined-basic{
  border: solid 1px white;
}